@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core running on Azure Functions!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Also check out <a href="/api/values">API values</a> controller!</p>

<p id="scoped">Now also works with scoped CSS!</p>